<%- include("./partials/header"); -%>
<body class="bg-slate-900 mx-4">
    <%- include("./partials/navigation"); -%>
    <div class="text-white">
        <table class="text-white table-auto">
            <caption>View Reports</caption>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Reporter</th>
                </tr>
            </thead>
            <tbody>
                <% response.map((report) => { %>
                    <tr>
                        <td><%=report._id.getTimestamp()%></td>
                        <td><%=report.reporter_name%></td>
                        <td><a href="/reports/<%=report._id%>">
                                <button class="text-xl text-white rounded-md bg-slate-600/20
                                    border border-slate-100 text-slate-100 px-4 py-2 mx-4 my-4">
                                    Details
                                </button>
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>