<%- include("./partials/header"); -%>
<body class="bg-slate-900 mx-4">
    <%- include("./partials/navigation"); -%>
    <div class="border border-round-md p-4 text-white">
        Username: <%=user.username%> <br />
        Role: <%=getRole(user.role)%> <br />
    </div>
    <div class="border border-round-md p-4">
        <% if(user.role === 3){ %>
            <form name="change_role" method="post" action="/users/change_role">
                <input type="hidden" name="id" value="<%=user._id%>" />
                <select id="role" name="role" required>
                    <option value="">Change Role</option>
                    <option value="0">Suspended</option>
                    <option value="2">General Member</option>
                </select>
                <button type="submit" class="text-xl text-white rounded-md bg-slate-600/20
                    border border-slate-100 text-slate-100 px-4 py-2 mx-4 my-4">
                    Submit
                </button>
            </form>
        <% } else if(user.role === 4){ %>
            <form name="change_role" method="post" action="/users/change_role">
                <input type="hidden" name="id" value="<%=user._id%>" />
                <select id="role" name="role" required>
                    <option value="">Change Role</option>
                    <option value="0">Suspended</option>
                    <option value="2">General Member</option>
                    <option value="3">Internal Affairs</option>
                </select>
                <button type="submit" class="text-xl text-white rounded-md bg-slate-600/20
                    border border-slate-100 text-slate-100 px-4 py-2 mx-4 my-4">
                    Submit
                </button>
            </form>
        <% } %>
    </div>
</body>

<% function getRole(id){
    switch(id){
        case 0: return "Suspended"; break;
        case 1: return "General Staff (NOT ACTIVATED)"; break;
        case 2: return "General Staff"; break;
        case 3: return "Internal Affairs"; break;
        case 4: return "Administrator"; break;
    }
}%>