<html>
    <body>
        <%- include("./partials/navigation"); -%>
        <%=report.date%> <br />
        <%=report.time%> <br />
        <%=report.offending_staff_member%> <br />
        <%=report.incident_type%> <br />
        <%=report.description%> <br />
        <%=report.status%> </br>
    </body>
</html>